---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
 <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
  <div style="display: flex; align-items: center; gap: 10px;">
    <h2 class="post-title" style="margin: 0;">{{ post.title }}</h2>
    {% if post.thumbnail %}
      <img src="{{ post.thumbnail }}" alt="תמונה ראשית" style="width: 60px; height: auto;" />
    {% endif %}
  </div>
</a>

  {% else %}
    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
  {% endif %}
</a>




            
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
         <p class="post-meta">
  פורסם על ידי
  {% if post.author %}
    {{ post.author }}
  {% else %}
    {{ site.author }}
  {% endif %}
  <time id="gregorian-date-{{ forloop.index }}" class="gregorian-date" datetime="{{ post.date | date: '%Y-%m-%d' }}">
  {{ post.date | date: "%-d ל-%m %Y" }}
</time>
<br>
<span id="hebrew-date-{{ forloop.index }}" class="hebrew-date" style="display:inline-block; direction: rtl;"></span>

  {% assign words = post.content | number_of_words %}
  {% if words < 270 %}
    דקת קריאה
  {% else %}
    {{ words | divided_by:135 }} דקות קריאה
  {% endif %}
</p>

            <span class="gregorian-date">{{ post.date | date: '%b %d, %Y' }}</span> |
<span class="hebrew-date" data-gregorian="{{ post.date | date: '%Y-%m-%d' }}"></span>
&middot; {% include read_time.html content=post.content %}
          
          </p>
        </article>

        <hr>

       {% endfor %}


        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
