<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8">
  <!-- Frank Ruhl Libre font -->
<link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">

<!-- Main CSS file -->
<link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">


  <title>{{ page.title }}</title>
</head>
<body>
  <h1>{{ page.title }}</h1>
  <p>{{ page.date | date: "%B %d, %Y" }}</p>
  <div>
    {{ content }}
  </div>
<p><a href="{{ site.baseurl }}/">↩ חזרה לעמוד הראשי</a></p>
</body>
</html>
